In [1]:
print('My name is Arman Hossen')

My name is Arman Hossen

In [2]:
n=[1,2,3]
len(n)

3

In [3]:
age=input('enter the age: ')

enter the age:  twenty five

In [4]:
type(age)

str

In [5]:
age=25
age1=str(age)#to convert integer to string data type

In [6]:
age1

'25'

In [7]:
type(age1)

str

In [8]:
numbers=list(range(1,5))
print(numbers)
#to create a list form one to four

[1, 2, 3, 4]

In [9]:
sum(numbers)
#to find out the sum of all elements in the list called numbers

10

In [10]:
min(numbers)
#to find the minimum value

1

In [11]:
max(numbers)
#to find maximum value

4

In [12]:
abs(-10)
#absolute value

10

In [13]:
round(3.14156,2)
#take two digit after decimal point

3.14

In [14]:
round(4.6)
#when the value is higher than 0.5 after decimal point then it will take the upper value

5

In [15]:
round(4.5)

4

In [16]:
list1=[2,14,5,2,6,8,1]
sorted(list1)
#to sort from lower elements to higher

[1, 2, 2, 5, 6, 8, 14]

In [17]:
#if any elements in an iterable are true
list2=[True,False,True]
any(list2)
#which means there is at least one true value

True

In [18]:
all(list2)
#is every elements true in list2?

False

In [19]:
list3=["math","physics","chemistry","biology"]
joinedstr=", ".join(list3)
joinedstr
#to accumulate all elements with seperator as a string

'math, physics, chemistry, biology'

In [20]:
string1="hello,world"
string1.lower()
#to make the all elements in string lower case

'hello,world'

In [21]:
string1.upper()

'HELLO,WORLD'

In [22]:
tuple1=(1,2,3,5)
list4=list(tuple1)
#to convert data type form tuple to list

In [23]:
list4

[1, 2, 3, 5]

In [24]:
dict2=dict(name="arman",age=25)
dict2
#create a dictionary

{'name': 'arman', 'age': 25}

In [25]:
set1=set([1,2,3,4,5])
set1
#to create a set

{1, 2, 3, 4, 5}

In [26]:
#returns tuples with coresponding index and elements
list5=["a","b","c"]
for index,value in enumerate(list5):
    print(index,value)

0 a
1 b
2 c

In [27]:
list6=[4,5,6]
list7=list(reversed(list6))
list7
#to make reverse

[6, 5, 4]

In [28]:
#sum with external staarting value
list8=[1,2,3]
sum(list8,100)
#To add 1,2,3 with 100 is equal to 106

106

In [29]:
#to return the magnitude of complex number 
complexnum=3+4j
magnitude=abs(complexnum)
magnitude

5.0

In [30]:
list9=[1,3,5,7,9]
slice1=slice(0,4)
slicedlist=list9[slice1]
slicedlist
#to see the slice list form 0 index to number 3 index

[1, 3, 5, 7]